* {
    -fx-highlight: #5865F2;
    -fx-text-default: #FFFFFF;
    -fx-lightgray-100: #B9BBBE;
    -fx-gray-25: #424549;
    -fx-gray-50: #36393E;
    -fx-gray-75: #282B30;
    -fx-gray-100: #1E2124;
}