.header {
  -fx-pref-height: 70px;
  -fx-min-height: 70px;
  -fx-max-height: 70px;
}

.header > VBox {
  -fx-pref-height: 100%;
  -fx-min-height: 100%;
  -fx-max-height: 100%;
}

.switch-user {
  -fx-font-size: 16px;
  -fx-text-fill: -fx-lightgray-100;
}

.switch-user:hover {
  -fx-underline: true;
  -fx-text-fill: -fx-text-default;
}

.profile-border {
  -fx-border-radius: 30px;
  -fx-background-radius: 30px;
}