.round-history {
  -fx-background-radius: 10px;
  -fx-background-color: -fx-gray-50;
  -fx-padding: 12px 20px;
  -fx-spacing: 12px;
}

.round-history > Label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-text-default;
}

.round-history-entries {
  -fx-spacing: 8px;
}

.round-entry > Label, .round-entry > AnchorPane > Label {
  -fx-font-size: 16px;
  -fx-text-fill: -fx-lightgray-100;
}

.round-won {
  -fx-text-fill: -fx-green;
}

.round-lost {
  -fx-text-fill: -fx-red;
}