* {
  -fx-primary-border-color: #dedede;
  -fx-font-family: SansSerif;
  -fx-screen-width: 1150px;
  -fx-screen-height: 800px;
}

.root-element {
  -fx-pref-width: -fx-screen-width;
  -fx-pref-height: -fx-screen-height;
}

.hover-border {
  -fx-border-width: 2px;
  -fx-border-color: transparent;
  -fx-border-insets: -2px;
}

.hover-border:hover {
  -fx-border-color: -fx-highlight;
  -fx-border-width: 2px;
}

.heading {
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

.smaller-btn {
  -fx-max-width: 180px !important;
  -fx-min-width: 180px !important;
  -fx-font-size: 15px !important;
  -fx-background-radius: 6px;
  -fx-background-color: -fx-highlight;
}

.regular-btn {
  -fx-max-width: 185px;
  -fx-min-width: 185px;
  -fx-font-size: 18px;
  -fx-background-radius: 8px;
  -fx-background-color: -fx-highlight;
}

.btn {
  -fx-padding: 8px 24px 8px 24px;
  -fx-min-width: 120px;
  -fx-background-color: -fx-highlight;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-font-family: SansSerif;
  -fx-background-radius: 8px;
}

.btn:hover {
  -fx-background-color: -fx-highlight-lightened;
}

.btn:pressed {
  -fx-background-color: -fx-highlight-darkened;
}

.icon {
  -fx-pref-width: 40px;
  -fx-pref-height: 40px;
}

.icon > * {
  -fx-background-color: -fx-highlight;
  -fx-pref-height: 24px;
  -fx-pref-width: 24px;
}

.fire-icon {
  -fx-shape: "M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-2.8-5.6-5.6-11.2-9.8-16.8l-50.6 58.8s-81.4-103.6-87.1-110.6C133.1 243.8 112 273.2 112 306.8C112 375.4 162.6 416 225.7 416z"
}

.eraser-icon > * {
  -fx-shape: "M480 416C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H150.6C133.7 480 117.4 473.3 105.4 461.3L25.37 381.3C.3786 356.3 .3786 315.7 25.37 290.7L258.7 57.37C283.7 32.38 324.3 32.38 349.3 57.37L486.6 194.7C511.6 219.7 511.6 260.3 486.6 285.3L355.9 416H480zM265.4 416L332.7 348.7L195.3 211.3L70.63 336L150.6 416L265.4 416z"
}

.pen-icon > * {
  -fx-shape: "M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
}

.trashcan-icon > * {
  -fx-shape: "M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z";
  -fx-pref-width: 21px !important; /* Prevent horizontal stretching of the icon */
}

.left-icon {
  -fx-shape: "M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z";
  -fx-background-color: -fx-lightgray-100;
  -fx-pref-height: 20px;
  -fx-pref-width: 20px;
}

.profile-icon > * {
  -fx-shape: "M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z";
  -fx-background-color: white;
}

.scroll-pane > .viewport {
  -fx-background-color: -fx-gray-25;
}
.scroll-pane > .scroll-bar:vertical {
  -fx-pref-width: 1.12em;
  -fx-background-color: -fx-gray-50;
  -fx-border-width: 5px;
  -fx-border-radius: 5px;	
}
.scroll-pane > .scroll-bar:vertical > .thumb {
  -fx-background-color: -fx-highlight;	
}
.scroll-pane > .scroll-bar:vertical > .thumb:hover {
  -fx-background-color: -fx-highlight-lightened;	
}
.scroll-pane > .scroll-bar:vertical > .thumb:pressed {
  -fx-background-color: -fx-highlight-darkened;	
}

.scroll-pane > .scroll-bar:vertical > .increment-button,
.scroll-pane > .scroll-bar:vertical > .decrement-button {
  -fx-padding: 0 0 0 0;
  -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
  -fx-padding: 0 0 0 0;
}
.scroll-bar:horizontal > .increment-button > .increment-arrow {
  -fx-padding: 0 0 0 0;
 }
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
  -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
  -fx-padding: 0 0 0 0;
}

