.pen-options > Separator {
  -fx-padding: 0 0 10px 0;
}

.colour-palette {
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
}

.colour-palette > Pane {
  -fx-pref-width: 30px;
  -fx-pref-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-background-color: #96e575;
  -fx-border-color: -fx-gray-75;
}

.colour-palette > Pane:hover {
  -fx-border-color: -fx-highlight;
}

.selected-colour {
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-border-color: -fx-highlight;
  -fx-border-insets: 5px 10px 5px 10px;
  -fx-padding: 5px 10px 5px 10px;
  -fx-background-insets: 5px 10px 5px 10px;
}