Label {
  -fx-font-family: SansSerif;
}

.profile-card, .new-profile-card {
  -fx-pref-width: 220px;
  -fx-pref-height: 300px;

  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
}

.profile-card {
  -fx-background-color: -fx-gray-50;
}

.profile-picture {
  -fx-pref-width: 220px;
  -fx-pref-height: 220px;
  -fx-background-radius: 12px 12px 0 0;
  -fx-background-color: -fx-lightgray-100;
}

.profile-picture > ImageView {
  -fx-background-radius: 12px 12px 0 0;
}

.round-top {
  -fx-border-radius: 12px 12px 0 0;
  -fx-background-radius: 12px 12px 0 0;
}

.profile-picture > Label {
  -fx-text-fill: -fx-gray-100;
  -fx-font-size: 40px;
  -fx-font-weight: bold;
}

.profile-content {
  -fx-alignment: center_left;
  -fx-padding: 8px 16px;
}

.profile-content > Label {
  -fx-text-fill: -fx-text-default;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.profile-stats {
  -fx-pref-width: 100%;
  -fx-pref-height: 20px;
  -fx-hgap: 20px;
}

.profile-stats > HBox > Label {
  -fx-text-fill: -fx-lightgray-100;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.new-profile-card {
  -fx-background-color: -fx-highlight;
}

.new-profile-card > VBox > Label {
  -fx-text-fill: white;
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

.new-profile-card:hover {
  -fx-background-color: -fx-highlight-darkened;
}

.plus-icon {
  -fx-shape: "M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z";
  -fx-background-color: white;
  -fx-pref-width: 100px;
  -fx-max-width: 100px;
  -fx-max-height: 100px;
  -fx-pref-height: 100px;
}