.btn {
  -fx-font-size: 16px;
}

.text-field {
  -fx-padding: 10px;
  -fx-background-color: -fx-gray-75;
}

.online-students {
  -fx-spacing: 8px;
}

.online-students > Label {
  -fx-text-fill: -fx-lightgray-100;
  -fx-font-size: 16px;
}

.counter {
  -fx-font-weight: bold;
  -fx-font-size: 30px;
  -fx-text-fill: -fx-text-default;
}

.dashboard-contents {
  -fx-padding: 32px 32px 64px 32px;
  -fx-background-radius: 16px 16px 0 0;
  -fx-background-color: -fx-gray-50;
  -fx-spacing: 24px;
}

.dashboard-contents > Label {
  -fx-text-fill: -fx-text-default;
  -fx-font-size: 40px;
}