* {
  -fx-font-family: SansSerif;
}

.button {
  -fx-padding: 8px 24px 8px 24px;
  -fx-background-color: -fx-highlight;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-family: SansSerif;
  -fx-background-radius: 8px;
}

.button:hover {
  -fx-background-color: -fx-highlight-darkened;
}

.text-field {
  -fx-font-size: 16px;
  -fx-text-fill: -fx-text-default;
  -fx-prompt-text-fill: -fx-lightgray-100;
  -fx-background-color: -fx-gray-50;
  -fx-highlight-fill: -fx-highlight;
}

.label {
  -fx-font-size: 16px;
  -fx-text-fill: -fx-text-default;
}

.text-bold {
  -fx-font-weight: bold;
}